@{
    ViewData["Title"] = "Input";
}

<div class="text-center">
    <h1 class="display-4">Please type something here</h1>
 
    <form method="post" action="Input"> 
        <label for="UserInput">Enter your input:</label>
        <textarea name="UserInput" id="UserInput" row="4" cols="50"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>