@{
    ViewData["Title"] = "Home";
}

<div class="d-flex flex-column text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the home page, please find the input and output in the navbar.</p>
    
    <h2>Brief Introduction of this web application</h2>
    <p>This small application technology stack is based on:</p>
    <div>
        <ul class="d-inline-flex flex-column text-start">
            <li>Frontend: Razor pages, Bootstrap, jQuery</li>
            <li>Backend: ASP.NET Core MVC (.NET 6), xUnit</li>
            <li>Database: SQL Server</li>
            <li>Others: Docker, Azure Data Studio</li>
        </ul>
    </div>
    <p>
        On this app, you can input anything on the input page (please find it in the navigation above), the app will generate a sentence for you and record the history.
    </p>
</div>